extends layout 
 
block content 
  h1.heading= title 
 
  form(id='AnimalForm', action="/resource/animals", method="POST") 
    div.form-group 
        label.animalAttr(for='name') Name 
        input#name(type='text', name='name') 
    div.form-group 
        label.animalAttr(for='lifetime') Lifetime 
        input#lifetime(type='number', name='lifetime') 
    div.form-group 
        label.animalAttr(for='color') Color 
        input#color(type='text', name='color') 
    input.heading(type="submit") 
 
  script. 
    document.forms['AnimalForm'].addEventListener('submit', (event) => { 
      event.preventDefault(); 
      // TODO do something here to show user that form is being submitted 
      fetch(event.target.action, { 
        method: 'POST', 
        body: new URLSearchParams(new FormData(event.target)) // event.target is the form 
      }).then((resp) => { 
        return resp.json(); // or resp.text() or whatever the server sends 
      }).then((body) => { 
        alert("Save succeded") 
        // TODO handle body 
      }).catch((error) => { 
        // TODO handle error 
        alert("Save failed " + error ) 
      }); 
    }); 