body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.animalAttr { 
  background-color: yellow; 
  color:red;
  width: 120px; 
  border-style: solid;
} 

.heading {
  background-color: chocolate;
  border-style: double;
}
